@using BOL;
@{
    ViewData["Title"] = "DataBase List";
}

<div>
    @{
        List<Product>prod= (List<Product>)ViewData["products"];

            
                 @foreach (Product product in prod)
                {
                    <li><a href="/Product/Dbdetails/@product.Id">@product.Name</a></li>
                }
            
        


    }
</div>
